# Entorno virtual
venv/
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Variables de entorno y secretos (NUNCA subir esto)
.env
.env.*

# Configuración de IDEs
.vscode/
.idea/

# Logs
*.log

# Frontend / Node
node_modules/
dist/
.output/

# Archivos de sistema
.DS_Store
Thumbs.db

